body {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  background-color: rgb(235,235,235);
  font-family: PingFang SC Regular;
  overflow-y: scroll;
}

.max-width {
  margin: auto;
  width: 1200px;
}


.ql-align-left {
  text-align: left;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}

article img {
  max-width: 100%;
}